<header>
  {% load static %}
  <nav class="navbar navbar-light" style="background: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="{% static 'img/logo.png' %}"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt
        />
        Блогикум
      </a>
      <ul class="nav nav-pills">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button
            type="button"
            class="btn btn-outline-primary"
            style="border: none"
          >
            <a
              class="text-decoration-none text-reset"
              class="nav-link"
              href="{% url 'blog:index' %}"
              >Лента записей</a
            >
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            style="border: none"
          >
            <a
              class="text-decoration-none text-reset"
              class="nav-link"
              href="{% url 'pages:about' %}"
              >О проекте</a
            >
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            style="border: none"
          >
            <a
              class="text-decoration-none text-reset"
              class="nav-link"
              href="{% url 'pages:rules' %}"
              >Наши правила</a
            >
          </button>
        </div>
      </ul>
    </div>
  </nav>
</header>
